[submodule "icons"]
	path = Arc-OSX-Icons
	url = https://github.com/LinxGem33/Arc-OSX-Icons.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "z"]
	path = z
	url = git@github.com:rupa/z.git
