[submodule "d2codingfont"]
	path = d2codingfont
	url = https://github.com/naver/d2codingfont.git
[submodule "powerlinefont"]
	path = powerline
	url = https://github.com/powerline/fonts.git
[submodule "emacs/emacs-doom-themes"]
	path = emacs/emacs-doom-themes
	url = https://github.com/sangwoo-joh/emacs-doom-themes
[submodule "emacs/yasnippet-snippets"]
	path = emacs/yasnippet-snippets
	url = https://github.com/sangwoo-joh/yasnippet-snippets
